@{
    Layout = null;
}


<p>Misión</p>

<p style="text-align:justify;">MasInfo contribuye a la conformidad de la sociedad entregando la información requerida logrando brindar confianza y seguridad.</p>
