@{
    Layout = null;
}


<p>Visión</p>

<p style="text-align:justify;">MasInfo quiere cambiar la apariencia de proporcionar información con el compromiso y responsabilidad de nuestros colaboradores e inspirar al campo para seguir entregando información de excelencia e integridad.</p>

