<ul>
    <li>
        <a href="@Url.Content("~/Home/Index")" class="waves-effect"><i class="mdi mdi-home"></i><span> Inicio </span></a>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-bank"></i> <span> Administraci&oacute;n </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
        <ul class="list-unstyled">
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Tutores</a></li>
            <li><a href="@Url.Action("Index","SeleccionPaciente")">Seleccion Pacientes</a></li>
        </ul>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers-off"></i> <span> Vistas Tutor </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
        <ul class="list-unstyled">
            <li><a href="#">Consulta</a></li>
            <li><a href="#">Insumos</a></li>
            <li><a href="#">Equipo Trabajo</a></li>
        </ul>
    </li>
</ul>
