<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MasInfoWebEntities" connectionString="metadata=res://*/DAL.Database.MasInfoModel.csdl|res://*/DAL.Database.MasInfoModel.ssdl|res://*/DAL.Database.MasInfoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CL_JPOZOM\LDREXPRESS;initial catalog=masInfoWeb;persist security info=True;user id=sa;password=Inacap123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MasInfoWebEntities_02" connectionString="metadata=res://*/DAL.Database.MasInfoModel.csdl|res://*/DAL.Database.MasInfoModel.ssdl|res://*/DAL.Database.MasInfoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.139.3.170;initial catalog=masInfoWeb;persist security info=True;user id=fjarias;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>